<!DOCTYPE html>
<html>
<head>
	<title>FSA Pattern Library - {{{ title }}}</title>
	<link href="../assets/css/main.css" rel="stylesheet" type="text/css"/>
	<link href="../assets/css/prism.css" rel="stylesheet" type="text/css"/>
	<link href="../assets/css/prismCustom.css" rel="stylesheet" type="text/css"/>
	<link href="../assets/css/pl/main.css" rel="stylesheet" type="text/css"/>
	<script src="https://use.typekit.net/ivl6ukw.js"></script>
	<script>try {
		Typekit.load({async: true});
	} catch (e) {
	}</script>
</head>
<body class="pl-{{{ type }}}">
<div class="pl-wrap">
	<div class="pl-wrap__inner">
