<!DOCTYPE html>
<html>
<head>
	<title>FSA Pattern Library - {{{ title }}}</title>
	<link href="../assets/css/main.css" rel="stylesheet" type="text/css"/>
	<link href="../assets/css/prism.css" rel="stylesheet" type="text/css"/>
	<link href="../assets/css/prismCustom.css" rel="stylesheet" type="text/css"/>
	<link href="../assets/css/pl/main.css" rel="stylesheet" type="text/css"/>

	<!--[if IE 9]>
	<link href="../assets/css/ie-9.css" rel="stylesheet" type="text/css"/>
	<![endif]-->

	<!--[if lt IE 9]>
	<link href="../assets/css/old-ie.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

	<script>
		document.createElement('header');
		document.createElement('nav');
		document.createElement('section');
		document.createElement('article');
		document.createElement('aside');
		document.createElement('footer');
	</script>
	<![endif]-->

	<script src="https://use.typekit.net/ivl6ukw.js"></script>
	<script>try {
		Typekit.load({async: true});
	} catch (e) {
	}</script>

    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>-->

    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/css3pie/2.0beta1/PIE_IE678.js"></script>-->

</head>
<body class="pl-{{{ type }}}">
<div class="pl-wrap">
	<div class="pl-wrap__inner">
		<nav class="col-wrap padding-bottom--6">
			<div class="col col--fluid-4 main-logo">
				<img src="../assets/img/logo.png" alt="Food Standards Agency">
			</div>
			<div class="col col--fluid-11">
				<div class="col-wrap">
					<h1>FOOD.GOV.UK pattern library</h1>
				</div>
			</div>
		</nav>
